.card_container {
  margin: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 25rem)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  grid-gap: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  overflow: hidden;
  -webkit-box-shadow: 0 0.2rem 2rem #e1e5ee;
  box-shadow: 0 0.2rem 2rem #e1e5ee;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.card__image {
  height: 18rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__title {
  padding: 1.5rem;
}

.card__description {
  padding: 0 1.5rem;
}

.card__btn {
  padding: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.5rem;
  border: 0.2rem solid #8848f0;
  background: transparent;
  color: #941df5;
  border-radius: 0.2rem;
  -webkit-transition: background 200ms ease-in, color 200ms ease-in;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.card:hover .card__btn {
  background: #ff6600;
  color: white;
}
